[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm
[submodule "External/spdlog"]
	path = External/spdlog
	url = https://github.com/gabime/spdlog
[submodule "External/glad"]
	path = External/glad
    url = https://github.com/Dav1dde/glad

[submodule "External/imgui"]
    path = External/imgui
    url = https://github.com/timmypidashev/imgui
